* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lora', sans-serif;
}
#wrapper {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
}
#wrapper .overlay {
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url('/images/home_background.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    -webkit-filter: blur(4px);
}
#holder {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%
}
#holder .input-holder{
    margin: 0px auto;
    margin-top: 150px;
    border-radius: 30px;
    width: 25%;
    min-height: 100px;
    z-index: 5;
    background-color: white;
    color: #8F8F8F;
    font-size: 28px;
    font-weight: 300;
    padding: 20px;
}
.input-holder input {
    padding-left: 15px;
    width: 100%;
    border-radius: 15px;
    border: 2px solid white;
    height: 40px;
    font-size: 20px;
    margin-top: 25px;
    background-color: #8f8f8f4a;
    box-sizing: border-box;
}

.input-holder input:focus {
    outline: none;
    border: 2px solid #8F8F8F;
    background-color: white;
}

.input-holder button {
    border-radius: 15px;
    padding: 7px;
    border: 2px solid white;
    background-color: #8f8f8f;
}

.input-holder button:focus {
    outline: none;
    border: 2px solid #8F8F8F;
    background-color: white;
}
.js-dish {
    cursor: pointer;
}
.list-group-item:hover {
    cursor: pointer;
    background-color: #8F8F8F;
}
.js-list a {
     color: black; 
    text-decoration: none;
}

.js-list a:hover {
     color: black; 
     text-decoration:none; 
     cursor:pointer;  
}
.fa-ban {
    cursor: pointer;
}