{% extends 'base.html.twig' %}
    {% block body %}
    <div class="container">
    <h2>Jūsų šios dienos užsakymas</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" type="search" id="js-search-users" placeholder="Ieškokite vartotojų">
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8" id="js-users">
            <ul class="list-group js-list">
               
            </ul>
        </div>
    </div>
    </div>
{% endblock %}