{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
        <div id="holder">
            <input type="email" placeholder="Įveskite savo el. paštą">
            </input>
        </div>
    </div>
{% endblock %}